@font-face {
  font-family: 'Geometria';
  src: url("../../fonts/Geometria-Light.eot");
  src: local("Geometria Light"), local("Geometria-Light"), url("../../fonts/Geometria-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Geometria-Light.woff") format("woff"), url("../../fonts/Geometria-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../../fonts/Geometria.eot");
  src: local("Geometria"), url("../../fonts/Geometria.eot?#iefix") format("embedded-opentype"), url("../../fonts/Geometria.woff") format("woff"), url("../../fonts/Geometria.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../../fonts/Geometria-Medium.eot");
  src: local("Geometria Medium"), local("Geometria-Medium"), url("../../fonts/Geometria-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/Geometria-Medium.woff") format("woff"), url("../../fonts/Geometria-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../../fonts/Geometria-Bold.eot");
  src: local("Geometria Bold"), local("Geometria-Bold"), url("../../fonts/Geometria-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Geometria-Bold.woff") format("woff"), url("../../fonts/Geometria-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

*, :before, :after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: "Geometria", sans-serif;
  color: #212121;
  background: white; }

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

li {
  display: block;
  list-style-image: none; }

a {
  color: #212121;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

img {
  display: block;
  max-width: 100% !important;
  max-height: 100% !important; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input, textarea, button {
  outline: none; }

var {
  font-style: normal; }

strong {
  font-weight: normal; }

i {
  font-style: normal; }

.case {
  position: relative;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }
  @media screen and (max-width: 1199px) {
    .case {
      width: 950px; } }
  @media screen and (max-width: 992px) {
    .case {
      width: 750px; } }
  @media screen and (max-width: 767px) {
    .case {
      width: 100%; } }

.row, .col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  .row-r {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .col-r {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }

.row.left, .col.left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.row.right, .col.right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.row.mid, .col.mid {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.row.between, .col.between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.row.around, .col.around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.i-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.i-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.i-mid {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.i-baseline {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.i-strech {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.left {
  margin-left: auto; }

.mid {
  margin-left: auto;
  margin-right: auto; }

.right {
  margin-left: auto; }

a[href^="tel"] {
  cursor: default;
  border-bottom: none; }

.btn {
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Geometria", sans-serif;
  border-bottom: none; }
  .btn:before {
    content: '';
    z-index: -1;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border-radius: 10px; }
  .btn.--bg-orange {
    color: #fff;
    background-image: -webkit-gradient(linear, left top, right top, from(#ff9701), to(#ff6702));
    background-image: -o-linear-gradient(left, #ff9701 0%, #ff6702 100%);
    background-image: linear-gradient(to right, #ff9701 0%, #ff6702 100%);
    border-bottom: 3px solid #c95900; }
    .btn.--bg-orange:before {
      background-image: -webkit-gradient(linear, right top, left top, from(#ff9701), to(#ff6702));
      background-image: -o-linear-gradient(right, #ff9701 0%, #ff6702 100%);
      background-image: linear-gradient(to left, #ff9701 0%, #ff6702 100%); }
    .btn.--bg-orange:hover:before {
      opacity: 1; }
  .btn.--md {
    font-size: 16px;
    height: 70px;
    font-weight: 700; }

.img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.logo {
  width: 205px;
  font-size: 0;
  border-bottom: none; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

.panel {
  color: #fff;
  padding-top: 40px;
  padding-bottom: 45px; }
  .panel__desc {
    width: 180px;
    line-height: 22px;
    margin-left: 55px; }
  .panel__inner {
    width: -webkit-calc(100% - 440px);
    width: calc(100% - 440px);
    padding-left: 80px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .panel__phone a {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: #fff; }
  .panel__call {
    text-align: right; }
  .panel__phone {
    margin-bottom: 7px; }
  .panel__callback {
    font-weight: 700; }
    .panel__callback a {
      color: #fff;
      border-width: 2px;
      padding-bottom: 3px;
      border-color: #006351; }
      .panel__callback a:hover {
        color: #006351;
        border-color: transparent; }

.p-contacts {
  width: 215px; }
  .p-contacts__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 7px; }
    .p-contacts__item:last-of-type {
      margin-bottom: 0; }
  .p-contacts__icon {
    width: 14px;
    height: 14px; }
  .p-contacts__text {
    padding-left: 8px;
    width: -webkit-calc(100% - 14px);
    width: calc(100% - 14px); }

.socials li {
  margin-right: 5px; }
  .socials li:last-of-type {
    margin-right: 0; }

.socials a {
  display: block;
  width: 33px;
  height: 33px;
  border-bottom: none;
  font-size: 0; }
  .socials a:hover {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9); }

.nav__list > ul {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .nav__list > ul > li {
    margin-right: 95px;
    position: relative; }
    .nav__list > ul > li:last-of-type {
      margin-right: 0; }
    .nav__list > ul > li:before {
      content: '';
      position: absolute;
      bottom: -40px;
      left: 0;
      right: 0;
      height: 40px; }
    .nav__list > ul > li:hover > ul {
      opacity: 1;
      visibility: visible;
      -webkit-transform: translateY(0px);
          -ms-transform: translateY(0px);
              transform: translateY(0px); }
    .nav__list > ul > li:hover > a:after {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
    .nav__list > ul > li > a {
      font-weight: 700; }
    .nav__list > ul > li > ul {
      opacity: 0; }
      .nav__list > ul > li > ul > li:hover > ul {
        opacity: 1;
        visibility: visible; }
      .nav__list > ul > li > ul > li:hover > a {
        background-color: #006351; }
        .nav__list > ul > li > ul > li:hover > a .i path {
          fill: #fff; }
        .nav__list > ul > li > ul > li:hover > a .t {
          color: #fff;
          border-color: transparent; }
      .nav__list > ul > li > ul > li > a {
        padding: 6.5px 10px; }
        .nav__list > ul > li > ul > li > a:hover {
          background-color: #006351; }
      .nav__list > ul > li > ul > li > ul > li:hover > a {
        background-color: #006351; }
        .nav__list > ul > li > ul > li > ul > li:hover > a .t {
          color: #fff;
          border-color: transparent; }

.nav__list li {
  margin-bottom: 0; }
  .nav__list li.--subnav > a:after {
    content: '';
    width: 7px;
    height: 7px;
    position: relative;
    top: 1px;
    margin-left: 6px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    background: url("../../imgs/chevon-down-white.svg") no-repeat center; }
  .nav__list li.--subnav ul {
    opacity: 0;
    z-index: 10;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    visibility: hidden; }
    .nav__list li.--subnav ul a {
      height: 40px; }
  .nav__list li.--subnav > ul {
    width: 320px;
    margin-left: -70px; }
    .nav__list li.--subnav > ul > li > ul {
      position: absolute;
      left: 100%;
      top: 0;
      width: 300px;
      margin-top: 0; }
      .nav__list li.--subnav > ul > li > ul a {
        padding: 10px; }
  .nav__list li.--icon .i {
    width: 27px;
    height: 27px;
    margin-right: 12px; }
    .nav__list li.--icon .i path {
      fill: #006351; }
  .nav__list li.--share > a {
    color: #f05000; }
    .nav__list li.--share > a:before {
      content: '';
      width: 16px;
      height: 15px;
      position: relative;
      top: 0;
      left: 0;
      margin-right: 6px;
      background: url("../../imgs/star.svg") no-repeat center; }

.nav__list a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  border-bottom: none; }
  .nav__list a span {
    display: inline-block;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .nav__list a path {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .nav__list a .t {
    display: inline;
    max-width: -webkit-calc(100% - 40px);
    max-width: calc(100% - 40px);
    color: #212121;
    padding: 0;
    border-bottom: 1px solid #212121; }

.h1 {
  font-size: 52px;
  line-height: 56px;
  font-weight: 500; }

.h2 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 500; }

.h3 {
  font-size: 32px;
  line-height: 40px; }

.hello {
  color: #fff;
  padding-top: 250px;
  min-height: 830px;
  background-position: center top; }
  .hello__content {
    z-index: 1;
    position: relative;
    max-width: 800px; }
  .hello__title {
    margin-bottom: 5px; }
  .hello__subtitle {
    margin-bottom: 40px; }
  .hello__img {
    position: absolute;
    top: -15px;
    right: -570px; }
  .hello__btn {
    margin-top: 60px; }

.text {
  font-size: 19px; }
  .text ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .text li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 24px; }
    .text li:last-of-type {
      margin-bottom: 0; }
    .text li:before {
      content: '';
      width: 26px;
      height: 26px;
      position: absolute;
      top: -1px;
      left: 0;
      background: url("../../imgs/check-circle.svg") no-repeat; }
